GROQ_API_KEY=
GROQ_TRANSCRIPTION_MODEL=whisper-large-v3-turbo
GROQ_REASONING_MODEL=openai/gpt-oss-20b
GOOGLE_TTS_CREDENTIALS_BASE64=
GOOGLE_TTS_LANGUAGE=en-GB
GOOGLE_TTS_VOICE=en-GB-Chirp3-HD-Algenib
